<nav class="navbar fixed-top bg-dark pt-2 pt-2">
    <ul class="nav">

        <a href="#"><img src="https://prod-static.disney-plus.net/assets/product/disneyplus/images/logo.1a56f51c764022ee769c91d894d44326.svg" width="50" height="50" /></a>

        <li class="nav-item-center"><a class="nav-link text-white" href="#">
            <svg class="bi" width="12" height="12">
                <use xlink:href="bootstrap-icons.svg#house-door-fill"></use>
            </svg>
            Home
        </a></li>

        <li class="nav-item-center"><a class="nav-link text-white" href="#">
            <svg class="bi" width="12" height="12">
                <use xlink:href="bootstrap-icons.svg#search"></use>
            </svg>
            Search
        </a></li>

        <li class="nav-item-center"><a class="nav-link text-white" href="#">
            <svg class="bi" width="12" height="12">
                <use xlink:href="bootstrap-icons.svg#plus-lg"></use>
            </svg>
            Watchlist
        </a></li>

        <li class="nav-item-center"><a class="nav-link text-white" href="#">
            <svg class="bi" width="12" height="12">
                <use xlink:href="bootstrap-icons.svg#star-fill"></use>
            </svg>
            Originals
        </a></li>

        <li class="nav-item-center"><a class="nav-link text-white" href="#">
            <svg class="bi" width="12" height="12">
                <use xlink:href="bootstrap-icons.svg#camera-reels-fill"></use>
            </svg>
            Movies
        </a></li>

        <li class="nav-item-center"><a class="nav-link text-white" href="#">
            <svg class="bi" width="12" height="12">
                <use xlink:href="bootstrap-icons.svg#tv-fill"></use>
            </svg>
            Series
        </a></li>

    </ul>

    <div class = "dropdown">
        <a
        class="btn bg-dark text-white dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-labelledby="nabarDarkDropdownMenuLink"
        >
        My Profile
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="nabarDarkDropdownMenuLink">
        <li><a class="dropdown-item" href="#"><svg class="bi" width="12" height="12"><use xlink:href="bootstrap-icons.svg#plus-circle"></use></svg>Add Profile</a></li>
        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
        <li><a class="dropdown-item" href="#">App Settings</a></li>
        <li><a class="dropdown-item" href="#">Account</a></li>
        <li><a class="dropdown-item" href="#">Help</a></li>
        <li><a class="dropdown-item" href="#">Log Out</a></li>
    </ul>
    </div>
</nav>