<nav class="navbar bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <img src="src\assets\Image\disney-plus-logo-1.png">
            </li>

        <li class="nav-item"><a class="nav-link text-white">
            <img src="src\assets\Image\Home-Icon.png">
            Home
        </a></li>

        <li class="nav-item"><a class="nav-link text-white">
            <img src="src\assets\Image\search-icon.jpg">
            Search
        </a></li>

        <li class="nav-item"><a class="nav-link text-white">
            <img src="src\assets\Image\PLus-icon.png">
            Watchlist
        </a></li>

        <li class="nav-item"><a class="nav-link text-white">
            <img src="src\assets\Image\Star-icon (2).png">
            Originals
        </a></li>

        <li class="nav-item"><a class="nav-link text-white">
            <img src="src\assets\Image\Film-Icon.png">
            Movies
        </a></li>

        <li class="nav-item"><a class="nav-link text-white">
            <img src="src\assets\Image\tv-icon.png">
            Series
        </a></li>

    </ul>

    <div class = "dropdown">
        <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >
        My Profile
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#"><img src="src\assets\Image\PLus-icon.png">Add Profile</a></li>
        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
        <li><a class="dropdown-item" href="#">App Settings</a></li>
        <li><a class="dropdown-item" href="#">Account</a></li>
        <li><a class="dropdown-item" href="#">Help</a></li>
        <li><a class="dropdown-item" href="#">Log Out</a></li>
    </ul>
    </div>
</nav>