<div class="fixed-bottom">
    <nav class="navbar bg-black pt-3 pb-3">
        <div class="text-center" role="img" tabindex="0" style="width: 100%; margin: 0px;"><a class="nav-link" href="#">
            <img class="center-block" src="src\assets\Image\disney-plus-logo-1.png">
        </a></div>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Privacy Policy
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Subscriber Agreement
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Your California Privacy Rights
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Do Not Sell My Personal Information
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Children's Online Privacy Policy
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Help
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Closed Captioning
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Supported Devices
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Gift Disney+
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            About Us
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Disney+ Partner Program
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Interest Based Ads
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            © Disney. All Rights Reserved.
        </a></p>
    </nav>
</div>