<div class="fixed-bottom">
    <nav class="navbar bg-black pt-1 pb-1">
        <div class="text-center" role="img" tabindex="0" style="width: 100%; margin: 0px;">
            <a href="#"><img src="https://prod-static.disney-plus.net/assets/product/disneyplus/images/logo.1a56f51c764022ee769c91d894d44326.svg" width="80" height="80" /></a>
        </div>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Privacy Policy
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Subscriber Agreement
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Your California Privacy Rights
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Do Not Sell My Personal Information
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Children's Online Privacy Policy
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Help
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Closed Captioning
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Supported Devices
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Gift Disney+
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            About Us
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Disney+ Partner Program
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            Interest Based Ads
        </a></p>
        <p class="text-left"><a class="nav-link text-white" href="#">
            © Disney. All Rights Reserved.
        </a></p>
    </nav>
</div>