<div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/5ECB5BB74B260AA2BF568E80E8726FEC1CEDA59A971EE31319FA56FF9D8CA3C6/compose?width=1440&aspectRatio=3.91&format=jpeg&label=disneyplusoriginal_391_scrim" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/67A3A07CFB252ADC516D9398EA6B650B9B48591492A45F84CAED80C04B496014/compose?width=1440&aspectRatio=3.91&format=jpeg&label=disneyplusoriginal_391" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/5078ABC55F7CAAFB1BF1FAFE4C09D87639F1BAD8BA3FF80726A2775B65D5BAF4/compose?width=1440&aspectRatio=3.91&format=jpeg&label=disneyplusoriginal_391_scrim" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>