<div style="background-color: rgb(35, 35, 78);">
<div class="form-outline pt-5">
    <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search by title, character, or genre" style="background-color: lightgray" />
    <label class="form-label" for="form1"></label>
    <h1 class="text-white" style="padding-top: 30px;">Explore</h1>
    <div class="row"></div>
<button style="background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));"><img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/E8707E2889AC7DCB1D39D1486ED415148440C65BF4AEC7B5906286294BFA9A2F/scale?width=400&aspectRatio=1.78&format=jpeg" style="height: 144px; width: 256px;"></button>
</div>
</div>