<div class="component">

    <div style="background-color: rgb(35, 35, 78);" class="navbar mt-4">
        <app-top-nav-bar></app-top-nav-bar>
    </div>
    
    <div id="carouselExampleIndicators" class="carousel slide mt-4 start-50 translate-middle-x" data-bs-ride="carousel" style="background-color: rgb(35, 35, 78);">
        <app-carousel></app-carousel>
    </div>

    <div class="position-relative" style="height: 200px; background-color: rgb(35, 35, 78);">
        <app-nav-buttons></app-nav-buttons>
    </div>

    <div class="relative-bottom">
        <app-bottom-nav-bar></app-bottom-nav-bar>
    </div>

</div>